openai
groq
google-generativeai
mistralai
python-dotenv

langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-community

fastapi
uvicorn

streamlit
pandas
numpy
requests
httpx

langchain-huggingface
transformers
huggingface_hub
torch